@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

/* Global typography */
body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  sans-serif;
  color: #0f172a; /* slate-900 */
  background-color: #f8fafc; /* slate-50 */
}